@model IEnumerable<Application.Shared.ReadPenaltyDto> // Adjust the namespace accordingly
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "All Penalties";
}
<h2>All Penalties</h2>
     @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Member Name</th>
                </tr>
            </thead>
            <tbody>
       
                    @foreach (var penalty in Model)
                    {
                        <tr>
                            <td>@penalty.Amount.ToString()</td>
                            <td>
                                @if (penalty.IsPaid)
                                {
                                     <span class="text-success">Paid</span>
                                }
                                else
                                {
                                   <span class="text-danger">Not Paid</span>
                                }
                            </td>
                            <td>@penalty.MemberName</td>
                        </tr>
                    }
            </tbody>
        </table>
    }
    else
    {
        <tr>
            <td colspan="5">No penalties found.</td>
        </tr>
    }
<div>
    <a asp-action="Dashboard" class="btn btn-primary">Back to Dashboard</a> <!-- Adjust link as needed -->
</div>
