@model Application.Shared.CreateUserDto

@{
    ViewData["Title"] = "Ceate User";
}

<h2> Create User </h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</strong>
    </div>
}

<form asp-action="CreateUser" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" value="@Model?.FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" value="@Model?.UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" value="@Model?.Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <!-- Role Selection -->
    <div class="form-group">
        <label for="Role">Select Role</label>
        <select asp-for="Role" class="form-control">
            <option value="Admin">Admin</option>
            <option value="Author">Author</option>
            <option value="Member">Member</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Upload Profile Image</label>
        <input type="file" name="Image" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
