@model LoginViewModel;
@{

    ViewData["Title"] = "The Book Haven - Login";
}

<form asp-action="Login" class="p-4 border rounded bg-light shadow">
    <h2 class="text-center mb-4">Login</h2>
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Enter your password" required />
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
    <div class="text-center mt-3">
        <p>Don't have an account? <a href="/Account/Register">Register here</a>.</p>
    </div>
</form>


