@model IEnumerable<Application.Shared.ReadLoanDto>


@{
     Layout = "~/Views/Shared/_MemberLayout.cshtml";
    ViewData["Title"] = $"{ViewBag.UserName} Loans";

}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Loan Date</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>
                    <td>@loan?.BookTitle</td>
                    <td>@loan?.LoanDate.ToShortDateString()</td>
                    <td>@loan?.DueDate.ToShortDateString()</td>
                    <td>
                        @if (loan.DueDate < DateTime.UtcNow)
                        {
                            <span class="text-danger">Late</span>
                        }
                        else
                        {
                            <span class="text-success">On Time</span>
                        }
                    </td>
                    <td>
                        <form asp-controller="Loan" asp-action="ReturnLoan" method="post" style="display:inline;">
                            <input type="hidden" name="LoanId" value="@loan.LoanId" />
                            <button type="submit" class="btn btn-Primary">Return</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No loans available.</p>
}
